.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
*.iml
.idea/
local.properties
**/ios/Pods/
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
